<table>
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>IN Date</th>
            <th>IN Time</th>
            <th>OUT Date</th>
            <th>OUT Time</th>
            <th>OUT Type</th> <!-- LUNCH, BREAK, OFF-SITE, OUT -->
            <th>Duration</th>
            <th>Del</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" value="Gavin McGraw"></td>
            <td><input type="date" value="2021-01-01"></td>
            <td><input type="time" value="09:00"></td>
            <td><input type="date" value="2021-01-01"></td>
            <td><input type="time" value="17:00"></td>
            <td><input type="text" value="OUT"></td>
            <td><input type="number" step=0.25 min=0 value=8></td>
            <td><button>X</button></td>
        </tr>
    </tbody>
</table>