{{#if user.isAuthenticated}}

<h1>Parts List</h1>

<table class="w3-table-all w3-margin">
    <thead>
        <tr class="w3-theme">
            <th>Part No</th>
            <th>Description</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr style="cursor:pointer">
            <td>40097012</td>
            <td>Actuator Upper Housing</td>
            <td>Production</td>
        </tr>
    </tbody>
</table>

{{/if}}