<div class="w3-container w3-row">
    
    {{!-- User Icon --}}
    <div class="w3-col s3">
        <i class="fa fa-user w3-circle w3-margin-right w3-xxxlarge" style="width:46px"></i>
    </div>

    {{!-- User Info --}}
    <div class="w3-col s9 w3-bar">
        <span>Welcome, <strong>{{user.email}}</strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="https://fusion-auth.mmpmg.com:3000/logout" class="w3-bar-item w3-button"><i class="fas fa-sign-out-alt"></i></a>
    </div>
</div>
<hr>